// =========== Colors ===========
$white: #ffffff !important;
$black: #191919 !important;
$transparent: transparent !important;

$grey: #f6f6f6 !important;
$purple-light: #e7dbfd !important;
$purple: #7f42e1 !important;
$purple-medium: #7658e0 !important;

$gradient-pale-pink: linear-gradient(90deg, #eccbff, #fbd9ff, #ffe5e7);
